.multi-item-carousel {
  overflow: hidden;
}

.multi-item-carousel .carousel-control-prev,
.multi-item-carousel .carousel-control-next {
  background: rgba(112, 112, 112, 0.5);
  width: 5%;
}

.multi-item-carousel .carousel-inner {
  width: 345%;
  left: -80%;
  padding-top: 50px;
  background-color: lightsteelblue;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(75%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-75%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.item__third {
  float: left;
  width: 25%;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
}

.card-text{
  align-content: center;
}

.card-img {
  width: 10%;
}

#send-header
{
  background-color: #B341FF;
}

#withdraw-header
{
  background-color: #4B70FF
}

#newContract-header
{
  background-color: #4BFFFF;
}



/* 

#popUpBox{  
   width: 500px;
   height: 400px;
   overflow: hidden;
   background: white;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);   
   padding-top: 90px;
   text-align: center;
   display: none;  
  }

  #closeModal{       
    padding-top: 10%;
  }

.pop1{
  box-shadow: 0 0 20px #B341FF;
}

#popUpBox2{  
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);   
  padding-top: 90px;
  text-align: center;
  display: none;  
 }

 #closeModal2{       
   padding-top: 10%;
 }

.pop2{
  box-shadow: 0 0 20px #4B70FF;
} */
